html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title MP3 Mate
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    .NavBar
      ul
        a(href='/')
          img(src='../images/logo.png')
        a.nav(href='/search') Search
        a.nav(href='/upload') Upload
        a.nav(href='/user') Account
        a.nav(href='/login') Log Out
