html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title MP3 Mate
    link(rel='stylesheet', href='../stylesheets/style.css')
    link(rel='stylesheet', href='../stylesheets/forms.css')
  body
    .NavBar
      ul
        a(href='/')
          img(src='../images/logo.png')
        a.nav(href='/search') Search
        a.nav(href='/upload') Upload
        a.nav(href='/collection') Collections
        a.nav(href='/user') Account
        a.nav(href='/login') Log Out
    .forms.nav-form
      form#small(method='post', enctype='multipart/form-data', action='/user')
        h2 Photo:
        img(src= photo, alt="" width="175px" height="175px")
        input(type='file', name='photo')
        h2 Username:
        input(autocomplete='off' type='text', name='username' value= username)
        h2 Bio:
        input(autocomplete='off' type='text', name='bio' value= bio)
        h2 Email:
        input(autocomplete='off' type='text', name='email' value= email)
        h2 Password:
        input(autocomplete='off', type='text', name='password')
        input(type='submit', value='Save')
      form#small(method='post' action='/user')
          input(type='submit' value='Delete' style="color:red;")
        h3= error
        h2 Created Account:
        p= date